.choresText {
   color: midnightblue;
   font-style: italic;
   font-size: 1.3vw;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.choresHeading {
   color: midnightblue;
   text-decoration: underline;
}